<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" type='text/css' href="{% static 'styles.css' %}">
  </head>

  <body>
    <div>
      <h1>This is index.html</h1>
      <h3>Degrees offered</h3>
        <table border="1">
          {% for r in degree_rows %}
            <tr>
              <td>{{ r.title }}</td>
              <td>{{ r.branch }}</td>
            </tr>
          {% endfor %}
        </table>
      <h2>{{ inject_var }}</h2>

      <a href="help.html">Go to Help page</a>
      <img src="{% static 'logo.png' %}" alt="Amrita Logo">

      {% if evenOrOdd == 0 %}
        <h2>Hello Amrita.</h2>

      {% else %}
        <h2>*********************************</h2>
        
      {% endif %}

      {% for x in fruits %}
        <h1>{{ x }}</h1>
      {% endfor %}

    </div>
  </body>
</html>
